In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import requests
import warnings
warnings.filterwarnings('ignore')
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(5)

rank =[]
name = []
artist = []
upload_date = []
views =[]

try:
    rank_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank_tags:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
try:
    name_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
try:
    artist_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in artist_tags:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')
    
try:
    date_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in date_tags:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')

try:
    views_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in views_tags:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')
    

print(len(rank),len(name),len(artist),len(upload_date), len(views))
print('\033[1m'+'Most viewed videos on YouTube :'+'\033[0m')
ranking = pd.DataFrame({'Rank':rank, 'Name':name, 'Artist':artist, 'Upload_date':upload_date,'Views':views})
ranking

30 30 30 30 30
Most viewed videos on YouTube :

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.85,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.16,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.70,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon ‚Äì Nursery Rhymes,6.20,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,6.00,"January 30, 2017"
5,6.,"""See You Again""[19]",Wiz Khalifa,5.89,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,5.30,"March 6, 2014"
7,8.,"""Wheels on the Bus""[25]",Cocomelon ‚Äì Nursery Rhymes,5.24,"May 24, 2018"
8,9.,"""Uptown Funk""[26]",Mark Ronson,4.92,"November 19, 2014"
9,10.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[27]",Miroshka TV,4.89,"February 27, 2018"
10,11.,"""Gangnam Style""[28]",Psy,4.80,"July 15, 2012"
11,12.,"""Masha and the Bear ‚Äì Recipe for Disaster""[33]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[34]",El Chombo,4.35,"April 5, 2018"
13,14.,"""Axel F""[35]",Crazy Frog,3.91,"June 16, 2009"
14,15.,"""Sugar""[36]",Maroon 5,3.87,"January 14, 2015"
15,16.,"""Roar""[37]",Katy Perry,3.80,"September 5, 2013"
16,17.,"""Counting Stars""[38]",OneRepublic,3.79,"May 31, 2013"
17,18.,"""Sorry""[39]",Justin Bieber,3.66,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon ‚Äì Nursery Rhymes,3.64,"June 25, 2018"
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,3.60,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.59,"June 4, 2010"
21,22.,"""Dark Horse""[43]",Katy Perry,3.52,"February 20, 2014"
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.48,"June 14, 2018"
23,24.,"""Faded""[45]",Alan Walker,3.45,"December 3, 2015"
24,25.,"""Perfect""[46]",Ed Sheeran,3.45,"November 9, 2017"
25,26.,"""Let Her Go""[47]",Passenger,3.44,"July 25, 2012"
26,27.,"""Girls Like You""[48]",Maroon 5,3.42,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,3.41,"January 26, 2018"
28,29.,"""Lean On""[50]",Major Lazer,3.38,"March 22, 2015"
29,30.,"""Bailando""[51]",Enrique Iglesias,3.38,"April 11, 2014"

# 2. Scrape the details of team India‚Äôs International fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

In [3]:
driver.get("https://www.bcci.tv/")
time.sleep(5)

tab = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]')
tab.click()

title =[]
series =[]
place =[]
date = []
times = []

try:
    title_tags = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in title_tags:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')
try:
    series_tags = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in series_tags:
        series.append(i.text)
except NoSuchElementException:
    series.append('-')
try:
    place_tags = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in place_tags:
        place.append(i.text)
except NoSuchElementException:
    place.append('-')
try:
    date_tags = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date_tags:
        date.append(i.text)
except NoSuchElementException:
    date.append('-')
try:
    time_tags = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time_tags:
        times.append(i.text)
except NoSuchElementException:
    times.append('-')


print(len(title),len(series),len(place),len(date), len(times))
print('\033[1m'+'India‚Äôs International fixtures :'+'\033[0m')
ranking = pd.DataFrame({'Match Title':title, 'Series':series, 'Place':place, 'Date':date,'Time':times})
ranking

8 8 8 8 8
India‚Äôs International fixtures :

,Match Title,Series,Place,Date,Time
0,1st T20I -,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",9 JUL 2023,1:30 PM IST
1,2nd T20I -,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",11 JUL 2023,1:30 PM IST
2,1st Test -,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,7:30 PM IST
3,3rd T20I -,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",13 JUL 2023,1:30 PM IST
4,1st ODI -,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",16 JUL 2023,9:00 AM IST
5,2nd ODI -,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",19 JUL 2023,9:00 AM IST
6,2nd Test -,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,7:30 PM IST
7,3rd ODI -,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",22 JUL 2023,9:00 AM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [4]:
driver.get("http://statisticstimes.com/")

economy = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
india = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
economy.click()
india.click()
states = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
states.click()

rank =[]
state = []
gsdp_1920 = []
gsdp_1819 = []
share = []
gdp = []

try:
    rank_tags = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[1]')
    for i in rank_tags:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

try:
    state_tags = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[2]')
    for i in state_tags:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')

try:
    gsdp19_tags = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp19_tags:
        gsdp_1920.append(i.text)
except NoSuchElementException:
    gsdp_1920.append('-')

try:
    gsdp18_tags = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp18_tags:
        gsdp_1819.append(i.text)
except NoSuchElementException:
    gsdp_1819.append('-')
try:
    share_tags = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[5]')
    for i in share_tags:
        share.append(i.text)
except NoSuchElementException:
    share.append('-')
try:
    gdp_tags = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp_tags:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('-')

print(len(rank),len(state),len(gsdp_1920),len(gsdp_1819), len(share),len(gdp))
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')

gdp_states = pd.DataFrame({'Rank':rank, 'States':state, 'GSDP 19-20':gsdp_1920, 'GSDP 18-19':gsdp_1819,'Share':share,'GDP':gdp})
gdp_states

33 33 33 33 33 33
State-wise GDP of India :

   Rank                     States GSDP 19-20 GSDP 18-19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [4]:
driver.get("https://github.com/")
time.sleep(5)

src = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
src.click()
trending = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trending.click()
time.sleep(10)

title = []
desc = []
count = []
lang = []

URL= []
link=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

try:
    title_tags = driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h2')
    for i in title_tags:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')

for i in URL:
    driver.get(i)
    time.sleep(5)
    try:
        desc_tags = driver.find_elements(By.XPATH,'//*[@class="f4 my-3" or @class= "f4 my-3 color-fg-muted text-italic"]')
        for i in desc_tags:
            desc.append(i.text)
    except NoSuchElementException:
        desc.append('-')
    countlist = []
    try:
        count_tags = driver.find_elements(By.XPATH,'//h2[@class="h4 mb-3"]/a[contains(text(),"Contributors")]/span')
        if count_tags:
            for j in count_tags:
                countlist.append(j.text)
        else:
            countlist.append('-')
        count.append(countlist)
    except NoSuchElementException:
        count.append('-')
    langlist =[]
    try:
        lang_tags = driver.find_elements(By.XPATH,'//li[@class="d-inline"]//a//span[1]')
        if lang_tags:
            for j in lang_tags:
                langlist.append(j.text)
        else:
            langlist.append('-')
        lang.append(langlist)
    except NoSuchElementException:
        lang.append('-')

print(len(title),len(desc),len(count),len(lang))
print('\033[1m'+'Trending repositories on Github.com :'+'\033[0m')

git = pd.DataFrame({'Repository Title':title, 'Repository Description':desc,'Contributors count':count,'Language used':lang})
git

25 25 25 25
Trending repositories on Github.com :

,Repository Title,Repository Description,Contributors count,Language used
0,XingangPan / DragGAN,Official Code for DragGAN (SIGGRAPH 2023),[9],"[Python, Cuda, C++]"
1,THUDM / ChatGLM2-6B,ChatGLM2-6B: An Open Bilingual Chat LLM | ÂºÄÊ∫êÂèåËØ≠...,[5],[Python]
2,CASIA-IVA-Lab / FastSAM,Fast Segment Anything,[10],[Python]
3,ramonvc / freegpt-webui,GPT 3.5/4 with a Chat Web UI. No API key requi...,[3],"[Python, JavaScript, CSS, HTML, Dockerfile]"
4,embedchain / embedchain,Framework to easily create LLM powered bots ov...,[5],[Python]
5,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,[64],"[Rust, TypeScript, JavaScript, SCSS, CSS, Java]"
6,xitanggg / open-resume,OpenResume is a powerful open-source resume bu...,[-],"[TypeScript, CSS, JavaScript]"
7,papers-we-love / papers-we-love,Papers from the computer science community to ...,[247],[Shell]
8,sadmann7 / skateshop,An open source e-commerce skateshop build with...,[5],"[TypeScript, JavaScript, CSS]"
9,microsoft / Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",[205],"[JavaScript, HTML, CSS, Vue]"
10,sb-ocr / diy-spacemouse,A DIY navigation device for Fusion360,[-],"[C++, Python]"
11,THUDM / ChatGLM-6B,ChatGLM-6B: An Open Bilingual Dialogue Languag...,[44],"[Python, Shell]"
12,SizheAn / PanoHead,"Code Repository for CVPR 2023 Paper ""PanoHead:...",[-],"[Python, Cuda, C++, Shell]"
13,PlexPt / awesome-chatgpt-prompts-zh,ChatGPT ‰∏≠ÊñáË∞ÉÊïôÊåáÂçó„ÄÇÂêÑÁßçÂú∫ÊôØ‰ΩøÁî®ÊåáÂçó„ÄÇÂ≠¶‰π†ÊÄé‰πàËÆ©ÂÆÉÂê¨‰Ω†ÁöÑËØù„ÄÇ,[19],[-]
14,firstcontributions / first-contributions,üöÄ‚ú® Help beginners to contribute to open source...,"[5,000+]",[-]
15,actualbudget / actual,A local-first personal finance system,[52],"[JavaScript, TypeScript, C++, C, M4, Hack]"
16,xtekky / gpt4free,The official gpt4free repository | various col...,[82],"[Python, Dockerfile]"
17,sveltejs / svelte,Cybernetically enhanced web apps,[610],"[JavaScript, Svelte]"
18,Zeqiang-Lai / DragGAN,"Unofficial Implementation of DragGAN - ""Drag Y...",[9],"[Python, Cuda, C++]"
19,OpenDriveLab / UniAD,[CVPR 2023 Best Paper] Planning-oriented Auton...,[6],"[Python, Shell]"
20,qgis / QGIS,"QGIS is a free, open source, cross platform (l...",[491],"[C++, Python, CMake, C, QML, Shell]"
21,chat2db / Chat2DB,An intelligent and versatile general-purpose S...,[7],"[Java, TypeScript, Less, JavaScript, HTML, EJS]"
22,Kanaries / pygwalker,PyGWalker: Turn your pandas dataframe into a T...,[11],"[Python, TypeScript, Jupyter Notebook, HTML, S..."
23,ggerganov / ggml,Tensor library for machine learning,[48],"[C, Cuda, C++, Metal, Objective-C, Zig]"
24,StanGirard / quivr,Dump all your files and thoughts into your pri...,[26],"[TypeScript, Python, JavaScript, PLpgSQL, Dock..."

# 5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [8]:
driver.get("http://www.billboard.com/")

charts = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

hot100 = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
hot100.click()
time.sleep(5)

song_name = []
artist_name = []
lastweek_rank =[]
peak_rank = []
weekson_board = []

try:
    sname = driver.find_elements(By.XPATH, '//h3[@class = "c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet" or @class = "c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in sname:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('-')

try:
    aname = driver.find_elements(By.XPATH,'//span[@class = "c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet" or @class = "c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in aname:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')
    

try:
    lrank = driver.find_elements(By.XPATH, '//div[@class = "o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]')
    for i in lrank:
        lastweek_rank.append(i.text)
except NoSuchElementException:
    lastweek_rank.append('-')


try:
    prank = driver.find_elements(By.XPATH,'//div[@class = "o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]')
    for i in prank:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('-')

try:
    week = driver.find_elements(By.XPATH,'//div[@class = "o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]')
    for i in week:
        weekson_board.append(i.text)
except NoSuchElementException:
    weekson_board.append('-')
    
print(len(song_name),len(artist_name),len(lastweek_rank),len(peak_rank),len(weekson_board))
print('\033[1m'+'Top 100 songs on billiboard.com :'+'\033[0m')
top100 = pd.DataFrame({'Song Name':song_name,'Artist Name': artist_name,'Last Week Rank':lastweek_rank,'Peak Rank':peak_rank,'Weeks on Chart':weekson_board})
top100

100 100 100 100 100
Top 100 songs on billiboard.com :

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Chart
0,Last Night,Morgan Wallen,1,1,21
1,Fast Car,Luke Combs,3,2,13
2,Calm Down,Rema & Selena Gomez,4,3,42
3,Flowers,Miley Cyrus,2,1,23
4,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
95,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,Girl In Mine,Parmalee,-,97,1
97,Moonlight,Kali Uchis,90,80,11
98,Classy 101,Feid x Young Miko,-,99,1
99,Bluffin,Gucci Mane & Lil Baby,-,100,1

# 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [9]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

bname = []
aname = []
volume = []
publisher = []
genre = []

try:
    book = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]')
    for i in book:
        bname.append(i.text)
except NoSuchElementException:
    bname.append('-')
try:
    auth = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]')
    for i in auth:
        aname.append(i.text)
except NoSuchElementException:
    aname.append('-')
try:
    vol = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]')
    for i in vol:
        volume.append(i.text)
except NoSuchElementException:
    volume.append('-')
try:
    pub = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]')
    for i in pub:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')
try:
    gen = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[6]')
    for i in gen:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

print(len(bname),len(aname),len(volume),len(publisher),len(genre))
print('\033[1m'+'Highest selling novels:'+'\033[0m')
bestselling = pd.DataFrame({'Book Name':bname,'Artist Name': aname,'Volumes Sold':volume,'Publisher':publisher,'Genre':genre})
bestselling

100 100 100 100 100
Highest selling novels:

,Book Name,Artist Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [10]:
driver.get("https://www.imdb.com/list/ls095964455/")

name = []
year = []
genres = []
runtime = []
ratings = []
votes = []

try:
    name_tags = driver.find_elements(By.XPATH,'//div[@class = "lister-item-content"]/h3/a')
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
try:
    year_tags = driver.find_elements(By.XPATH,'//div[@class = "lister-item-content"]/h3/span[2]')
    for i in year_tags:
        year.append(i.text)
except NoSuchElementException:
    year.append('-')
try:
    genre_tags = driver.find_elements(By.XPATH,'//div[@class = "lister-item-content"]/p[1]/span[5]')
    for i in genre_tags:
        genres.append(i.text)
except NoSuchElementException:
    genres.append('-')
try:
    run_tags = driver.find_elements(By.XPATH,'//div[@class = "lister-item-content"]/p[1]/span[3]')
    for i in run_tags:
        runtime.append(i.text)
except NoSuchElementException:
    runtime.append('-')
try:
    rating_tags = driver.find_elements(By.XPATH,'//div[@class = "lister-item-content"]/div[1]/div[1]/span[2]')
    for i in rating_tags:
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('-')
try:
    vote_tags = driver.find_elements(By.XPATH,'//div[@class = "lister-item-content"]/p[4]/span[2]')
    for i in vote_tags:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')

print(len(name),len(year),len(genres),len(runtime),len(ratings),len(votes))
print('\033[1m'+'Most watched tv series of all time :'+'\033[0m')

imdb = pd.DataFrame({'Show Name':name,'Year': year,'Genre':genres,'Runtime':runtime, 'Rating':ratings,'Votes':votes})
imdb

100 100 100 100 100 100
Most watched tv series of all time :

,Show Name,Year,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,173,452"
1,Stranger Things,(2016‚Äì2024),"Drama, Fantasy, Horror",51 min,8.7,"1,251,325"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,387"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"303,530"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,710"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"51,952"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"63,993"
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1,"208,526"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"43,395"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,143"

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [36]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get("https://archive.ics.uci.edu/")
time.sleep(5)

view = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view.click()

time.sleep(20)
accept = driver.find_element(By.XPATH,'//*[@class = "btn-primary btn-sm btn m-1"]')
accept.click()
time.sleep (30)

expand_all = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand_all.click()
time.sleep(20)

name =[]
data_type =[]
task_type = []
attribute_type = []
no_instances = []
no_attribute = []
year = []

for page in range(0,63):
    driver.execute_script("window.scrollBy(0,100)")
    try:
        name_tags = driver.find_elements(By.XPATH,'//div[@class = "relative col-span-8 sm:col-span-7"]/h2/a')
        for i in name_tags:
            name.append(i.text)
    except NoSuchElementException:
        name.append('-')

    try:
        data = driver.find_elements(By.XPATH,'//div[@class = "relative col-span-8 sm:col-span-7"]/div/div[2]/span')
        for i in data:
            data_type.append(i.text)
    except NoSuchElementException:
        data_type.append('-')

    try:
        task = driver.find_elements(By.XPATH,'//div[@class = "relative col-span-8 sm:col-span-7"]/div/div[1]/span')
        for i in task:
            task_type.append(i.text)
    except NoSuchElementException:
        task_type.append('-')
    try:
        instances = driver.find_elements(By.XPATH,'//div[@class = "relative col-span-8 sm:col-span-7"]/div/div[3]/span')
        for i in instances:
            no_instances.append(i.text)
    except NoSuchElementException:
        no_instances.append('-')
    try:
        attribute_tags = driver.find_elements(By.XPATH,'//div[@class = "relative col-span-8 sm:col-span-7"]/div/div[4]/span')
        for i in attribute_tags:
            no_attribute.append(i.text)
    except NoSuchElementException:
        no_attribute.append('-')

    try:
        attribute = driver.find_elements(By.XPATH,'//div[@class = "rounded-box bg-base-100"]/div[2]/div/table/tbody/tr/td[2]')
        for i in attribute:
            attribute_type.append(i.text)
    except NoSuchElementException:
        attribute_type.append('-')
    try:
        year_tags = driver.find_elements(By.XPATH,'//div[@class = "rounded-box bg-base-100"]/div[2]/div/table/tbody/tr/td[3]')
        for i in year_tags:
            year.append(i.text)
    except NoSuchElementException:
        year.append('-')
    if(page == 62):
        break
    else:
        WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//div[@class ="btn-group"]/button[2]'))).click()
    time.sleep(5)
    
print(len(name),len(data_type),len(task_type),len(attribute_type),len(no_instances),len(no_attribute),len(year))

uci = pd.DataFrame({'Dataset Name':name,'Data Type':data_type,'Attribute Type':attribute_type, 'Task': task_type,'Number of instances':no_instances,'Number of attributes':no_attribute,'Year': year})
uci

623 623 623 623 623 623 623

,Dataset Name,Data Type,Attribute Type,Task,Number of instances,Number of attributes,Year
0,Iris,Multivariate,Real,Classification,150 Instances,4 Attributes,7/1/1988
1,Heart Disease,Multivariate,"Categorical, Integer, Real",Classification,303 Instances,13 Attributes,7/1/1988
2,Dry Bean Dataset,Multivariate,"Integer, Real",Classification,13.61K Instances,17 Attributes,9/14/2020
3,Adult,Multivariate,"Categorical, Integer",Classification,48.84K Instances,14 Attributes,5/1/1996
4,Diabetes,,"Categorical, Integer",,,20 Attributes,N/A
...,...,...,...,...,...,...,...
618,Undocumented,,N/A,,,,N/A
619,PMU-UD,Univariate,,Classification,5.18K Instances,9 Attributes,8/5/2018
620,EBL Domain Theories,,N/A,,,,N/A
621,Moral Reasoner,,N/A,,202 Instances,,6/1/1994
622,DGP2 - The Second Data Generation Program,,Real,,,,N/A

# 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location

In [11]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")
time.sleep(5)
click = driver.find_element(By.XPATH,'//*[@id="root"]/div[3]/div[2]/div[1]/div')
click.click()

search=driver.find_element(By.XPATH,'//*[@id="root"]/div[3]/div[2]/div[1]/div/div/div[1]/div/div/div/input')
search.clear()
search.send_keys('Data Science')

button = driver.find_element(By.XPATH,'//*[@id="root"]/div[3]/div[2]/div[1]/div/button')
button.click()
time.sleep(5)

name = []
designation = []
company = []
skills =[]
location = []
url = []


try:
    url_tags = driver.find_elements(By.XPATH,'//a[@class = "title ellipsis"]')
    for i in url_tags:
        url.append(i.get_attribute('href'))
except NoSuchElementException:
    url.append('-')



try:
    location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
    for i in location_tags:
        location.append(i.text)
except NoSuchElementException:
    location.append('-')


try:
    company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
    for i in company_tags:
        company.append(i.text)
except NoSuchElementException:
    company.append('-')

skill = []
try:
    skill_tags = driver.find_elements(By.XPATH,'//*[@class="tags has-description"]')
    for i in skill_tags:
        skill.append(i.text.replace('\n',','))
except NoSuchElementException:
    skill.append('-')

name = []
designation = []
for i in url:
    driver.get(i)
    time.sleep(5)
    try:
        name_tags = driver.find_element(By.XPATH,'//div[@class = "name-designation"]')
        name.append(name_tags.text.split('\n')[0])
        designation.append(name_tags.text.split('\n')[1])
    except NoSuchElementException:
        name.append('-')
        designation.append('-')
        
print(len(name),len(designation),len(company),len(location),len(skill))
print('\033[1m'+'Data science recruiters  :'+'\033[0m')
ds = pd.DataFrame({'Company':company,'location':location,'Skills they hire':skill,'Recruiter Name':name,'Designation':designation})
ds

20 20 20 20 20
Data science recruiters  :

,Company,location,Skills they hire,Recruiter Name,Designation
0,Bizongo,Bangalore/Bengaluru,"Vision,Analytics,Deep Learning,Networking,Tens...",-,-
1,Raytheon Technologies,"Hybrid - Bangalore/ Bengaluru, Karnataka(Yelah...","Data Science,statistical modeling,machine lear...",Shilpa Sk,HR Executive at Pratt & Whitney
2,Augusta Infotech,"Bangalore/ Bengaluru, Karnataka(Electronic City)","python,numpy,machine learning,tensorflow,Panda...",Biju John,Director - Recruitment at Augusta Infotech
3,DUN BRADSTREET INFORMATION SERVICES INDIA PRIV...,Hyderabad/Secunderabad,"Analysis,Analytical,Data Science,Data analysis...",-,-
4,AVE-Promagne Business Solutions,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Data Analytics,IT training,Training,Machine,De...",-,-
5,Accenture,Bangalore/Bengaluru,"Machine learning,Predictive modeling,Data mini...",-,-
6,Accenture,Mumbai,"Data Science,Predictive Modeling,machine learn...",-,-
7,Zupee,Delhi / NCR,"Machine Learning,Neural networks,Deep Learning...",Aksshay Malaviya,Manager Talent Acquisition at CASHGRAIL PRIVAT...
8,Epiq Systems,Hybrid - Hyderabad/Secunderabad,"Data Science,Spark,Scikit-learn,Keras,Software...",-,-
9,"Epiq Systems, Inc.","Hyderabad/Secunderabad, Canada, Pune","Languages,Development,Product management,Data ...",-,-
10,Venator Holdings,Hyderabad/Secunderabad,"Recruitment,Senior,Statistical modeling,Data S...",-,-
11,QA InfoTech Pvt. Ltd,Bangalore/Bengaluru,"Cloud,Cloud computing,Data Science,Simulation,...",-,-
12,QA InfoTech Pvt. Ltd,Bangalore/Bengaluru,"Ml,MySQL,SDLC,JIRA,Data Science,Cloud computin...",-,-
13,Conneqt Digital,Hybrid - Bangalore/Bengaluru,"Data Science,Azure,Artificial Intelligence,Azu...",Pavithra TR,Senior Technical Recruiter at Conneqt Business...
14,Accenture,Mumbai,"Data Science,Python,Intelligence,Data analysis...",-,-
15,Accenture,Mumbai,"Data Science,Artificial Intelligence,Data mini...",-,-
16,Merilytics,Hyderabad/Secunderabad,"Decision Tree,Natural Language Processing,Neur...",Suryakalla Mattaparthy,Senior Manager at Merilytics
17,Epiq Global,"Hyderabad/Secunderabad, Pune","Django,Natural language processing,UI developm...",-,-
18,TRH Consultancy Services,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...","Data Science,Java,R,Machine,Algorithms,Data,Da...",-,-
19,Red Hat,Bangalore/Bengaluru,"Machine Learning,Machine,Python,Science,Operat...",-,-