# Install required Libraries

In [1]:
!pip install bs4

Requirement already satisfied: bs4 in ./anaconda3/lib/python3.9/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in ./anaconda3/lib/python3.9/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in ./anaconda3/lib/python3.9/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)

In [2]:
!pip install requests

Requirement already satisfied: requests in ./anaconda3/lib/python3.9/site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.9/site-packages (from requests) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/lib/python3.9/site-packages (from requests) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.9/site-packages (from requests) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in ./anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)

# Import required Libraries

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Request the webpage

In [4]:
# Function to request url and get the webpage content
def get_page(url):
    page = requests.get(url)
    return BeautifulSoup(page.content,'html.parser')

# 1. Write a python program to display all the header tags.

In [5]:
# Request the url and extract data
url = 'https://en.wikipedia.org/wiki/Main_Page'
soup = get_page(url)

# Creating empty list to store headers
headers = []

# scraping the headers
for i in range(1,7):
    headers.append([h.text for h in soup.findAll(f'h{i}')])
#Creating the dataframe    
    allheaders = pd.DataFrame(headers).T
allheaders.columns = [f'h{i}' for i in range(1,7)]
allheaders

                     h1                             h2    h3    h4    h5    h6
0             Main Page  From today's featured article  None  None  None  None
1  Welcome to Wikipedia               Did you know ...  None  None  None  None
2                  None                    In the news  None  None  None  None
3                  None                    On this day  None  None  None  None
4                  None       Today's featured picture  None  None  None  None
5                  None       Other areas of Wikipedia  None  None  None  None
6                  None    Wikipedia's sister projects  None  None  None  None
7                  None            Wikipedia languages  None  None  None  None

# 2. Write a python program to display list of respected former presidents of India(i.e. Name , Term of office)

In [6]:
# Request the url and extract data
url = 'https://presidentofindia.nic.in/former-presidents.htm'
soup = get_page(url)

# Creating empty list to store data
name = []
term = []
# scraping the President name
for i in soup.find_all('div',class_="presidentListing"):
    name.append(i.h3.text)
# scraping the term    
for i in soup.find_all('div',class_="presidentListing"):
    term.append(i.p.text.replace("Term of Office:",""))
    
df=pd.DataFrame({" President's name":name,"Term of office":term})
df

,President's name,Term of office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# 3. Write a python program to scrape cricket rankings from icc-cricket.com.

#Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [7]:
# Request the url and extract data
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
items = get_page(url).find('table').find('tbody').find_all('tr')

# Creating empty list to store data
odi_list = []
for i, item in enumerate(items):
    if i == 10 :
        break 
# scraping the team , match, point, rating       
    team = item.find('span',class_='u-hide-phablet').text
    tds = item.find_all('td')
    match = tds[2].text
    point = tds[3].text
    rating = tds[4].text.strip()
    odi_list.append({'Team': team, 'Match': match, 'Point': point, 'Rating': rating})
odi_list
teamdf = pd.DataFrame(odi_list)
teamdf

           Team Match  Point Rating
0     Australia    23  2,714    118
1      Pakistan    20  2,316    116
2         India    33  3,807    115
3   New Zealand    27  2,806    104
4       England    24  2,426    101
5  South Africa    19  1,910    101
6    Bangladesh    25  2,451     98
7   Afghanistan    10    878     88
8     Sri Lanka    21  1,682     80
9   West Indies    25  1,797     72

#b) Top 10 ODI Batsmen along with the records of their team and rating.

In [8]:
# Request the url and extract data
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
items = get_page(url).find('table').find_all('tr')

# Creating empty list to store data
odi_bats = []
for i, item in enumerate(items):
    # ignoring the header 
    if i == 0: 
        continue
    #loop for first 10 items
    if i == 11:
        break 
# scraping the player, point, country 
    tds = item.find_all('td')
    player = tds[1].text.replace('\n','')
    country = tds[2].text.replace('\n','')
    point = tds[3].text.replace('\n','')
    odi_bats.append({ 'Player': player, 'Points': point, 'Country': country})
batsmen_df = pd.DataFrame(odi_bats)
batsmen_df

                  Player Points Country
0             Babar Azam    886     PAK
1  Rassie van der Dussen    777      SA
2           Fakhar Zaman    755     PAK
3            Imam-ul-Haq    745     PAK
4           Shubman Gill    738     IND
5           David Warner    726     AUS
6           Harry Tector    722     IRE
7            Virat Kohli    719     IND
8        Quinton de Kock    718      SA
9           Rohit Sharma    707     IND

#c) Top 10 ODI bowlers along with the records of their team andrating

In [9]:
# Request the url and extract data
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
items = get_page(url).find('table').find_all('tr')

# Creating empty list to store data
odi_bowl = []
for i, item in enumerate(items):
    # ignoring the header 
    if i == 0: 
        continue
    #loop for first 10 items
    if i == 11:
        break 
# scraping the player, point, country     
    tds = item.find_all('td')
    player = tds[1].text.replace('\n','')
    country = tds[2].text.replace('\n','')
    point = tds[3].text.replace('\n','')
    odi_bowl.append({ 'Player': player, 'Points': point, 'Country': country})
bowler_df = pd.DataFrame(odi_bowl)
bowler_df

             Player Points Country
0    Josh Hazlewood    705     AUS
1    Mohammed Siraj    691     IND
2    Mitchell Starc    686     AUS
3        Matt Henry    667      NZ
4       Trent Boult    660      NZ
5       Rashid Khan    659     AFG
6        Adam Zampa    652     AUS
7  Mujeeb Ur Rahman    637     AFG
8     Mohammad Nabi    631     AFG
9    Shaheen Afridi    630     PAK

# 4. Write a python program to scrape cricket rankings from icc-cricket.com.

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [10]:
# Request the url and extract data
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
items = get_page(url).find('table').find('tbody').find_all('tr')

# Creating empty list to store data
odi_wlist = []
for i, item in enumerate(items):
    if i == 10 :
        break 
# scraping the team, match, point, rating.           
    team = item.find('span',class_='u-hide-phablet').text
    tds = item.find_all('td')
    match = tds[2].text
    point = tds[3].text
    rating = tds[4].text.strip()
    odi_wlist.append({'Team': team, 'Match': match, 'Point': point, 'Rating': rating})
odi_wlist
women_teamdf = pd.DataFrame(odi_wlist)
women_teamdf

           Team Match  Point Rating
0     Australia    21  3,603    172
1       England    28  3,342    119
2  South Africa    26  3,098    119
3         India    27  2,820    104
4   New Zealand    25  2,553    102
5   West Indies    27  2,535     94
6      Thailand    11    821     75
7    Bangladesh    14    977     70
8      Pakistan    27  1,678     62
9     Sri Lanka     9    479     53

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [11]:
# Request the url and extract data
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
items = get_page(url).find('table').find_all('tr')

# Creating empty list to store data
odi_wbats = []
for i, item in enumerate(items):
    # ignoring the header 
    if i == 0: 
        continue
    #loop for first 10 items
    if i == 11:
        break 
 # scraping the player, point, country       
    tds = item.find_all('td')
    player = tds[1].text.replace('\n','')
    country = tds[2].text.replace('\n','')
    point = tds[3].text.replace('\n','')
    odi_wbats.append({ 'Player': player, 'Points': point, 'Country': country})
women_batsmen_df = pd.DataFrame(odi_wbats)
women_batsmen_df

                Player Points Country
0          Beth Mooney    754     AUS
1      Laura Wolvaardt    732      SA
2       Natalie Sciver    731     ENG
3          Meg Lanning    717     AUS
4     Harmanpreet Kaur    716     IND
5      Smriti Mandhana    714     IND
6  Chamari Athapaththu    673      SL
7         Ellyse Perry    626     AUS
8       Tammy Beaumont    595     ENG
9      Stafanie Taylor    588      WI

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [12]:
# Request the url and extract data
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
items = get_page(url).find('table').find_all('tr')

# Creating empty list to store data
odi_wbowl = []
for i, item in enumerate(items):
    # ignoring the header 
    if i == 0: 
        continue
    #loop for first 10 items
    if i == 11:
        break 
# scraping the player, point, country          
    tds = item.find_all('td')
    player = tds[1].text.replace('\n','')
    country = tds[2].text.replace('\n','')
    point = tds[3].text.replace('\n','')
    odi_wbowl.append({ 'Player': player, 'Points': point, 'Country': country})
women_bowler_df = pd.DataFrame(odi_wbowl)
women_bowler_df

                Player Points Country
0    Sophie Ecclestone    751     ENG
1        Jess Jonassen    723     AUS
2       Shabnim Ismail    722      SA
3         Megan Schutt    704     AUS
4      Hayley Matthews    660      WI
5           Kate Cross    655     ENG
6       Ayabonga Khaka    634      SA
7  Rajeshwari Gayakwad    617     IND
8       Marizanne Kapp    598      SA
9        Deepti Sharma    589     IND

# 5.Write a python program to scrape mentioned news details from cnbc.com

In [13]:
# Request the url and extract data
url = 'https://www.cnbc.com/world/?region=world'
soup = get_page(url)

# Creating empty list to store data
news = []
time = []
link = []
# scraping the news
for i in soup.find_all("a",class_="LatestNews-headline"):
    news.append(i.text)
# scraping the time
for i in soup.find_all("time",class_="LatestNews-timestamp"):
    time.append(i.text)
# scraping the link
for i in soup.find_all("a",class_="LatestNews-headline"):
    link.append(i['href'])
news_df = pd.DataFrame({'Headline':news, 'Time':time, 'Links': link})
news_df

,Headline,Time,Links
0,"These are Goldman’s favorite small caps, which...",21 Min Ago,https://www.cnbc.com/2023/05/23/these-are-gold...
1,HBO Max is just 'Max' now—here are 4 things to...,27 Min Ago,https://www.cnbc.com/2023/05/23/hbo-max-is-now...
2,How to avoid tax issues from payment apps like...,35 Min Ago,https://www.cnbc.com/2023/05/23/how-to-avoid-t...
3,BlackRock bond chief says U.S. in 'much better...,37 Min Ago,https://www.cnbc.com/2023/05/23/economy-good-s...
4,House Democrats move to renew a Social Securit...,43 Min Ago,https://www.cnbc.com/2023/05/23/house-democrat...
5,Here is what investor Jason Snipe expects from...,56 Min Ago,https://www.cnbc.com/2023/05/23/here-is-what-i...
6,Intensity of methane emissions from oil and ga...,60 Min Ago,https://www.cnbc.com/2023/05/23/intensity-of-m...
7,Former Fed Chair Ben Bernanke says there's mor...,2 Hours Ago,https://www.cnbc.com/2023/05/23/former-fed-cha...
8,Uber to offer autonomous ride-hailing and deli...,2 Hours Ago,https://www.cnbc.com/2023/05/23/uber-and-waymo...
9,Netflix password sharing crackdown rolls out i...,2 Hours Ago,https://www.cnbc.com/2023/05/23/netflix-passwo...
10,Trump criminal trial over porn star payoff set...,2 Hours Ago,https://www.cnbc.com/2023/05/23/trump-criminal...
11,"Virgin Orbit sells assets to Rocket Lab, Strat...",2 Hours Ago,https://www.cnbc.com/2023/05/23/virgin-orbit-b...
12,These stocks are about to form a bullish golde...,2 Hours Ago,https://www.cnbc.com/2023/05/23/these-stocks-a...
13,U.S. Virgin Islands governor to be deposed in ...,3 Hours Ago,https://www.cnbc.com/2023/05/23/jpmorgan-epste...
14,BlackRock’s bond guru has a new ETF aiming fo...,3 Hours Ago,https://www.cnbc.com/2023/05/23/-blackrocks-bo...
15,HIV infections decline but most people at risk...,3 Hours Ago,https://www.cnbc.com/2023/05/23/cdc-hiv-infect...
16,Buy this construction stock for more than 20% ...,3 Hours Ago,https://www.cnbc.com/2023/05/23/buy-this-const...
17,Communities near California's Tulare lake are ...,4 Hours Ago,https://www.cnbc.com/2023/05/23/california-tul...
18,Microsoft says Bing can be default search engi...,4 Hours Ago,https://www.cnbc.com/2023/05/23/microsoft-says...
19,"Stocks making the biggest moves midday: Yelp, ...",4 Hours Ago,https://www.cnbc.com/2023/05/23/stocks-making-...
20,What these 4-day workweek CEOs look for in new...,4 Hours Ago,https://www.cnbc.com/2023/05/23/what-these-fou...
21,Here are Cowen's top chip picks for an EV and ...,4 Hours Ago,https://www.cnbc.com/2023/05/23/cowens-top-chi...
22,Nike CEO John Donahoe says disengaging China w...,4 Hours Ago,https://www.cnbc.com/2023/05/23/nike-ceo-john-...
23,"Nike CEO John Donahoe weighs in on Desantis, D...",4 Hours Ago,https://www.cnbc.com/2023/05/23/nike-ceo-john-...
24,Cramer says AI is fueling the 'reacceleration ...,4 Hours Ago,https://www.cnbc.com/2023/05/23/cramer-says-ai...
25,Retirement savers eye guaranteed lifetime inco...,4 Hours Ago,https://www.cnbc.com/2023/05/23/retirement-sav...
26,BofA: Broadcom is the 'most underappreciated A...,5 Hours Ago,https://www.cnbc.com/2023/05/23/broadcom-is-th...
27,Add to cash and gold holdings as stocks' risk/...,5 Hours Ago,https://www.cnbc.com/2023/05/23/add-cash-and-g...
28,Republicans question debt ceiling deadline as ...,5 Hours Ago,https://www.cnbc.com/2023/05/23/debt-ceiling-n...
29,Alibaba to cut 7% of workforce in its cloud un...,5 Hours Ago,https://www.cnbc.com/2023/05/23/alibaba-to-cut...

# 6 Write a python program to scrape the details of most downloaded articles from AI in last 90 days

In [14]:
# Request the url and extract data
url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
soup = get_page(url)

# Creating empty list to store data
title = []
author = []
date = []
links = []
# scraping the title
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)
# scraping the author    
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)
# scraping the published date
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)
# scraping the paper url    
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    links.append(i.get('href'))

df = pd.DataFrame({'Paper Title':title, 'Author':author ,'Published Date':date, 'Paper Url': links})
df

,Paper Title,Author,Published Date,Paper Url
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# 7 Write a python program to scrape mentioned details from dineout.co.in

In [15]:
# Request the url and extract data
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
soup = get_page(url)

# Creating empty list to store data
restaurant_name=[]
cuisine=[]
location=[]
ratings=[]
image_url=[]
# scraping the resturant name
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)
# scraping the cuisine
for i in soup.find_all('span',class_='double-line-ellipsis'):
    cuisine.append(i.text.split("|")[1])
# scraping the location   
for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)
# scraping the ratings
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)
# scraping the image url
for i in soup.find_all('img',class_='no-img'):
    image_url.append(i.get('data-src'))

df=pd.DataFrame({'Restaurant name':restaurant_name,'Cuisine':cuisine,'Location':location,'Ratings':ratings,'Image URL':image_url})
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...